* {
  box-sizing: border-box; }

#page1, #page2, #page3, #page4, #page5 {
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center; }

.navigation {
  display: none; }

.navbar {
  background-color: #D8A871;
  opacity: 0.8; }

.navbar-collapse {
  margin: auto 0;
  padding-bottom: 40px;
  padding-top: 20px; }

.nav-item {
  text-align: center; }

.logo img {
  width: 20%;
  margin-left: 160px; }

h1 {
  padding-left: 20px; }

h2 {
  padding-left: 20px; }
  h2 #page2 p {
    padding-left: 80px; }
