* {
  box-sizing: border-box; }

#page1, #page2, #page3, #page4, #page5 {
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.navigation {
  display: none; }

.navbar .navbar-toggler-icon {
  border: none; }

.navbar-collapse {
  margin: auto 0;
  padding-bottom: 40px;
  padding-top: 20px; }

.nav-item {
  text-align: center; }
  .nav-item .nav-link {
    background-color: #D8A871;
    opacity: 0.8; }
    .nav-item .nav-link:hover {
      opacity: 1; }

.logo img {
  width: 20%;
  margin-left: 160px; }

h1, h2 {
  color: #F0EFED; }

h1 {
  font-family: "Lato", sans-serif;
  padding-left: 40px;
  padding-top: 20px; }

h2 {
  font-family: "Staatliches";
  padding-left: 40px; }

#page2 .about-alonso h1 {
  font-size: 60px;
  padding-top: 25px;
  padding-left: 40px; }

#page2 .about-alonso h2 {
  padding-left: 40px;
  font-size: 40px; }

#page2 .about-alonso .about-paragraph {
  opacity: 0.65;
  height: 578px; }
  #page2 .about-alonso .about-paragraph p {
    font-size: 12px;
    color: #F0EFED; }
  #page2 .about-alonso .about-paragraph .p1, #page2 .about-alonso .about-paragraph .p2 {
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify; }
  #page2 .about-alonso .about-paragraph .p1 {
    padding-top: 150px; }

#page3 {
  height: 400px;
  overflow: hidden; }
  #page3 .alonso-work h1 {
    font-size: 60px;
    padding-top: 0px;
    padding-left: 40px;
    padding-bottom: 0px; }
  #page3 .alonso-work .slider .carousel-item {
    height: 250px; }
    #page3 .alonso-work .slider .carousel-item img {
      width: 100%; }

#page4 h1 {
  font-size: 60px; }

#page4 p {
  font-size: 12px;
  padding-top: 4px;
  padding-left: 50px;
  padding-right: 40px;
  text-align: justify; }

#page5 h1 {
  padding-top: 50px;
  font-size: 60px; }

#page5 .contact .contactform fieldset {
  background-color: white;
  padding: 5px;
  margin: 20px;
  opacity: 0.6;
  border: 1px solid grey;
  border-radius: 5px; }

#page5 .contact .contactform label {
  padding-left: 8px;
  background-color: white; }

#page5 .contact .contactform textarea {
  width: 200px; }

#page5 .contact .contactform input {
  padding-left: 5px;
  border: none; }

#page5 .contact input[type="submit"] {
  padding-left: 5px;
  border: none;
  width: 100px;
  margin: 20px;
  border-radius: 3px;
  opacity: 0.6;
  background-color: white; }

@media all and (min-width: 950px) {
  #page1, #page2, #page3, #page4, #page5 {
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center; }
  .navbar {
    display: none; }
  .navigation {
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 100;
    margin-top: 278px;
    background-color: #D8A871;
    width: 150px;
    height: 338px;
    padding-top: 100px;
    padding-right: 10px; }
    .navigation ul {
      padding-top: 40px; }
    .navigation li {
      list-style: none;
      padding-bottom: 5px; }
    .navigation a {
      color: black;
      font-family: "Lato", sans-serif;
      font-size: 10px; }
  .logo img {
    width: 100px; }
  #page3 {
    overflow: hidden;
    height: 750px; }
    #page3 .alonso-work .slider .carousel {
      width: 75%;
      margin: 0 auto; }
      #page3 .alonso-work .slider .carousel .carousel-item {
        width: 100%;
        height: 600px; }
        #page3 .alonso-work .slider .carousel .carousel-item img {
          width: 100%; }
  .logo {
    position: absolute;
    padding-top: 300px;
    padding-left: 500px; }
  #page2 .about-alonso {
    color: white;
    position: absolute;
    margin-top: 8%;
    margin-right: 2%;
    margin-left: 2%;
    position: absolute;
    top: 1110px;
    right: 80px;
    left: 800px; }
  #page2 h1 {
    font-size: 60px;
    position: absolute;
    top: 2000px;
    right: 80px;
    left: 800px; }
  #page2 h2 {
    font-size: 80px !important;
    position: absolute;
    top: 1010px;
    right: 80px;
    left: 800px; }
  #page2 p {
    font-size: 16px; } }
