* {
  box-sizing: border-box; }

#page1, #page2, #page3, #page4, #page5 {
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.navigation {
  display: none; }

.navbar .navbar-toggler-icon {
  border: none; }

.navbar-collapse {
  margin: auto 0;
  padding-bottom: 40px;
  padding-top: 20px; }

.nav-item {
  text-align: center; }
  .nav-item .nav-link {
    background-color: #D8A871;
    opacity: 0.8; }
    .nav-item .nav-link:hover {
      opacity: 1; }

.logo img {
  padding-top: 200px;
  width: 20%;
  margin-left: 160px; }

h1, h2 {
  color: #F0EFED; }

h1 {
  font-family: "Lato", sans-serif;
  padding-left: 40px;
  padding-top: 20px; }

h2 {
  padding-left: 40px;
  font-size: 40px; }

#page2 .about-alonso h1 {
  font-size: 60px;
  padding-top: 25px;
  padding-left: 40px; }

#page2 .about-alonso h2 {
  padding-left: 40px;
  font-size: 40px; }

#page2 .about-alonso .about-paragraph {
  opacity: 0.65;
  height: 578px; }
  #page2 .about-alonso .about-paragraph p {
    font-size: 12px;
    color: #F0EFED; }
  #page2 .about-alonso .about-paragraph .p1, #page2 .about-alonso .about-paragraph .p2 {
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify; }
  #page2 .about-alonso .about-paragraph .p1 {
    padding-top: 150px; }

#page3 {
  height: 500px;
  overflow: hidden; }
  #page3 .alonso-work h1 {
    font-size: 60px;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 0px; }
  #page3 .alonso-work .slider .carousel-item {
    padding-top: 40px;
    height: 400px; }
    #page3 .alonso-work .slider .carousel-item img {
      width: 100%; }

#page4 h1 {
  font-size: 60px;
  padding-left: 130px !important; }

#page4 p {
  font-size: 12px;
  padding-top: 4px;
  padding-left: 50px;
  padding-right: 40px;
  text-align: justify; }

#page5 h1 {
  padding-top: 50px;
  font-size: 60px; }

#page5 .contact {
  padding-top: 30px; }
  #page5 .contact .contactform fieldset {
    background-color: white;
    padding: 5px;
    margin: 20px;
    opacity: 0.6;
    border: 1px solid grey;
    border-radius: 5px; }
  #page5 .contact .contactform label {
    padding-left: 8px;
    background-color: white; }
  #page5 .contact .contactform textarea {
    width: 250px; }
  #page5 .contact .contactform input {
    padding-left: 5px;
    border: none; }
  #page5 .contact input[type="submit"] {
    padding-left: 5px;
    border: none;
    width: 350px;
    margin: 20px;
    border-radius: 3px;
    opacity: 0.6;
    background-color: white; }
  #page5 .contact .logo-2 img {
    padding-top: 50px;
    width: 20%;
    margin-left: 160px; }

@media all and (min-width: 650px) {
  #page1, #page2, #page3, #page4, #page5 {
    height: 700px !important; }
    #page1 #page1 .logo img, #page2 #page1 .logo img, #page3 #page1 .logo img, #page4 #page1 .logo img, #page5 #page1 .logo img {
      position: absolute !important;
      padding-top: 170px !important;
      margin-left: 190px !important;
      width: 100px !important; }
    #page1 #page2 h1, #page2 #page2 h1, #page3 #page2 h1, #page4 #page2 h1, #page5 #page2 h1 {
      padding-left: 478px;
      padding-top: 150px !important; }
    #page1 #page2 h2, #page2 #page2 h2, #page3 #page2 h2, #page4 #page2 h2, #page5 #page2 h2 {
      padding-left: 478px; }
    #page1 #page2 .about-alonso .about-paragraph .p1, #page1 #page2 .about-alonso .about-paragraph .p2, #page2 #page2 .about-alonso .about-paragraph .p1, #page2 #page2 .about-alonso .about-paragraph .p2, #page3 #page2 .about-alonso .about-paragraph .p1, #page3 #page2 .about-alonso .about-paragraph .p2, #page4 #page2 .about-alonso .about-paragraph .p1, #page4 #page2 .about-alonso .about-paragraph .p2, #page5 #page2 .about-alonso .about-paragraph .p1, #page5 #page2 .about-alonso .about-paragraph .p2 {
      padding-left: 478px !important;
      padding-top: 8px !important; }
    #page1 #page3 .alonso-work .slider .carousel-item, #page2 #page3 .alonso-work .slider .carousel-item, #page3 #page3 .alonso-work .slider .carousel-item, #page4 #page3 .alonso-work .slider .carousel-item, #page5 #page3 .alonso-work .slider .carousel-item {
      padding-top: 100px;
      height: 500px !important; }
      #page1 #page3 .alonso-work .slider .carousel-item img, #page2 #page3 .alonso-work .slider .carousel-item img, #page3 #page3 .alonso-work .slider .carousel-item img, #page4 #page3 .alonso-work .slider .carousel-item img, #page5 #page3 .alonso-work .slider .carousel-item img {
        width: 100% !important; }
    #page1 #page3 #page4 .booking, #page2 #page3 #page4 .booking, #page3 #page3 #page4 .booking, #page4 #page3 #page4 .booking, #page5 #page3 #page4 .booking {
      padding-left: 600px !important; }
    #page1 #page3 #page5 .logo-2 img, #page2 #page3 #page5 .logo-2 img, #page3 #page3 #page5 .logo-2 img, #page4 #page3 #page5 .logo-2 img, #page5 #page3 #page5 .logo-2 img {
      margin-left: 45% !important; } }

@media all and (min-width: 950px) {
  #page1, #page2, #page3, #page4, #page5 {
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover; }
  .navbar {
    display: none; }
  .navigation {
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 100;
    margin-top: 278px;
    background-color: #D8A871;
    width: 150px;
    height: 338px;
    padding-top: 100px;
    padding-right: 10px; }
    .navigation ul {
      padding-top: 40px; }
    .navigation li {
      list-style: none;
      padding-bottom: 5px; }
    .navigation a {
      color: black;
      font-family: "Lato", sans-serif;
      font-size: 14px; }
  .logo img {
    position: absolute;
    padding-top: 200px;
    width: 100px;
    left: 500px; }
  #page2 {
    height: 1000px !important; }
    #page2 .about-alonso {
      color: white;
      position: absolute;
      padding-top: 120px;
      margin-right: 1%;
      left: 1%;
      top: 770px;
      right: 70px;
      left: 800px; }
    #page2 h1 {
      font-size: 60px;
      position: absolute;
      top: 910px;
      right: 50px;
      left: 790px; }
    #page2 h2 {
      font-size: 65px !important;
      position: absolute;
      top: 850px;
      right: 80px;
      left: 790px; }
    #page2 p {
      font-size: 14px !important; }
    #page2 .p1 {
      padding-top: 90px; }
  #page3 {
    height: 1000px !important;
    overflow: hidden; }
    #page3 .alonso-work h1 {
      font-size: 80px;
      padding-left: 200px;
      padding-top: 60px;
      padding-bottom: 40px; }
    #page3 .alonso-work .slider .carousel {
      position: absolute;
      left: 300px;
      width: 65%;
      margin: 0 auto; }
      #page3 .alonso-work .slider .carousel .carousel-item {
        width: 100%;
        height: 500px; }
        #page3 .alonso-work .slider .carousel .carousel-item img {
          width: 100%; }
  #page4 h1 {
    font-size: 200px;
    padding-left: 540px !important;
    padding-top: 2px; }
  #page4 p {
    padding-left: 200px !important;
    padding-right: 800px;
    padding-top: 120px;
    font-size: 14px; }
  #page5 {
    height: 1000px !important; }
    #page5 h1 {
      font-size: 200px;
      padding-left: 350px; }
    #page5 .contact {
      padding-top: 60px;
      width: 50%;
      margin: 0 auto; }
    #page5 .contactform textarea {
      width: 660px !important; }
    #page5 .contactform label {
      padding-left: 400px; }
    #page5 .contactform input {
      padding-left: 40px !important; }
  .logo-2 img {
    position: absolute;
    width: 100px !important;
    left: 500px !important; } }
