@import "variables";
* {box-sizing: border-box;}
#page1, #page2, #page3, #page4, #page5 {
width: 100%;
height: 700px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
// background-attachment: fixed;
}
.navigation{
  display: none;
}
 .navbar{
   // background-color: $sand;
   // opacity: 0.8;
   .navbar-toggler-icon {
     border: none;
   }
 }
.navbar-collapse{
   margin:auto 0;
padding-bottom: 40px;
padding-top: 20px;
}
.nav-item{
  text-align: center;
  .nav-link {
    background-color: $sand;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
}
.logo img {
  width: 20%;
margin-left: 160px;
}
h1, h2{
  color: #F0EFED;
}
h1{font-family: $nav-font;
  padding-left: 40px;
  padding-top: 20px;
}
h2{font-family: $h1-font;
padding-left: 40px;}
#page2{
  .about-alonso {
  h1{
    font-size: 60px;
    padding-top: 25px;
    padding-left: 40px;}
    h2{padding-left: 40px;
    font-size: 40px;}
  .about-paragraph{
    opacity: 0.65;
    height: 578px;
    // background-color: #878289;}
    p{
        font-size: 12px;
      color:  #F0EFED}
    .p1,.p2{
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;}
    .p1{
      padding-top: 150px;}
  }
}
}

#page3{
height: 400px;
overflow: hidden;
.alonso-work{
  h1{
    font-size: 60px;
    padding-top: 0px;
    padding-left: 40px;
    padding-bottom: 0px;
  }
  .slider {
    .carousel-item {
      height: 250px;
      img {
        width: 100%;
      }
    }
  }
}
}
#page4{
  h1{font-size: 60px;}
  p{ font-size: 12px;
  padding-top: 4px;
padding-left: 50px;
padding-right: 40px;
text-align: justify;}
}

#page5{
  h1{ padding-top: 50px;
  font-size: 60px;}
  .contact{
    .contactform{
  fieldset {
    background-color: white;
    padding: 5px;
    margin: 20px;
  opacity: 0.6;
  border: 1px solid grey;
  border-radius: 5px;}
  label{
    padding-left: 8px;
    background-color: white;
  }
  textarea{
  width: 200px;
  }
  input{
  padding-left: 5px;
  border: none;}
  }
  input[type="submit"] {
    padding-left: 5px;
    border: none;
    width: 100px;
    margin: 20px;
    border-radius: 3px;
    opacity: 0.6;
    background-color: white;
  }

}}



// @media all and (min-width: 650px){
//
// }
@media all and (min-width: 950px){
#page1, #page2, #page3, #page4, #page5 {
// height: 850px;
height: 1000px;
background-repeat: no-repeat;
background-size: cover;
background-position: top center;
}

.navbar {
  display: none;
}

.navigation {
  display: block;
  position: fixed;
  bottom: 0;
  z-index: 100;
  margin-top: 278px;
  background-color: $sand;
  width: 150px;
  height: 338px;
  padding-top: 100px;
  padding-right: 10px;
  ul {
    padding-top: 40px;
  }
     li {
      list-style: none;
      padding-bottom: 5px;
    }
    a {
      color: black;
      font-family: $nav-font;
      font-size: 10px;
    }
  }
  .logo img {
    width: 100px;
  }
  #page3{
    overflow: hidden;
    height: 750px;
    .alonso-work{
      .slider{
        .carousel {
          width: 75%;
          margin: 0 auto;
          .carousel-item{
            width: 100%;
            height: 600px;
            img{
              width: 100%;
            }
          }
        }
      }
    }
  }


.logo{
  position: absolute;
  padding-top: 300px;
padding-left:500px; }

#page2{
  .about-alonso {
    color: white;
    position: absolute;
    margin-top: 8%;
    margin-right: 2%;
    margin-left: 2%;
    position: absolute;
    top: 1110px;
    right: 80px;
    left: 800px;
}
h1{ font-size: 60px;
  position: absolute;
  top: 1110px;
  right: 80px;
  left: 800px;}
h2 {font-size: 80px !important;
  position: absolute;
  top: 1210px;
  right: 80px;
  left: 800px;}
p{
  font-size: 16px;
}
}

}


//
// /* Slideshow container */
// .slider {
//   width: 65%;
//   position: absolute;
//   left: 20%;
// padding-top: 20%;
// }
//
// // WORK
// #page3{
//   h1{
//     font-size: 80px;
//     color: white;
//     position: absolute;
//     margin-left: 12%;
//     padding-top: 10%;
//   }
// }
// .booking {
//   h1{
//   font-size: 200px;
//   color: white;
// position: absolute;
// margin-left: 10%;
// margin-top: 2%;
// }
// p{
//   position: absolute;
//   margin-top: 30%;
//   margin-left: 15%;
//   margin-right: 58%;
// }
// }
// #page5 {
//   h1 {
//     font-size: 100px;
//     color: white;
//     position: absolute;
//     margin-top: 12%;
//     margin-left: 15%;
//   }
// }
// .contactform{
//   width: 50%;
//   position: absolute;
//   margin-left: 25%;
//   form{
//     background-color: white;
//     opacity: 0.7;
//   }
// label {
//     color: black;
//     padding: 1rem 0;
//     display: block;
//     border: none;
// }
// fieldset {
//     display: block;
//     text-align: center;
//     border: none;
//     margin: 0;
// }
// input[type="text"] {
//     border-radius: 3px;
//     border: 1px solid #3b0054;
//     padding: 5px 5px;
//     width:50%;
// }
// textarea {
//     width: 100%;
//     max-width: 100%;
// }
// input[type="submit"] {
//     border: 1px solid #3b0054;
//     font-family: Century Gothic;
//     font-size: 1rem;
//     color: black;
//     background: #3b0054;
//     cursor: pointer;
//     border-radius: 3px;
//     text-transform: uppercase;
//     padding: 10px 138px;
//     margin-left: 10px;
// }
// input[type="submit"]:hover {
//     background: #d499ed;
//     color: #3b0054;
// }
// }
